site_name: Asset Tracker Template
site_url:
use_directory_urls: false

theme:
  name: material
  palette:
    - scheme: custom-blue
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode
    - scheme: custom-blue-dark
      toggle:
        icon: material/lightbulb
        name: Switch to light mode
  # logo: assets/logo.png
  # favicon: assets/logo.png
  features:
    - content.code.annotate
    - content.tooltips
    - content.tabs.link
    - navigation.indexes
    - navigation.top
    - navigation.tracking
    - search.highlight
    - toc.follow


extra_css:
  - stylesheets/style.css

copyright:
  Copyright &copy; 2025

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - md_in_html
  - meta
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.tabbed
  - pymdownx.superfences
  - toc:
      permalink: true
      toc_depth: 4

plugins:
  - macros
  - search

nav:
  - Overview: index.md
  - Getting started: common/getting_started.md
  - Architecture: common/architecture.md
  - Configuration: common/configuration.md
  - Customization: common/customization.md
  - Provisioning: common/provisioning.md
  - Location services: common/location_services.md
  - Achieving low power: common/low_power.md
  - Firmware Updates (FOTA): common/fota.md
  - Testing and CI setup: common/test_and_ci_setup.md
  - Tooling and Troubleshooting: common/tooling_troubleshooting.md
  - Application modules:
    - Main module: modules/main.md
    - Button module: modules/button.md
    - Cloud module: modules/cloud.md
    - Environmental module: modules/environmental.md
    - FOTA module: modules/fota_module.md
    - LED module: modules/led.md
    - Location module: modules/location.md
    - Network module: modules/network.md
    - Power module: modules/power.md
    - Storage module: modules/storage.md
  - Release artifacts: common/release.md
  - Release notes: common/release_notes.md
