# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig APP_LOCATION
	bool "Location"
	default y if LOCATION
	select LOCATION_DATA_DETAILS

if APP_LOCATION

config APP_LOCATION_THREAD_STACK_SIZE
	int "Thread stack size"
	default 2048

config APP_LOCATION_WATCHDOG_TIMEOUT_SECONDS
	int "Watchdog timeout"
	default 120
	help
	  Timeout in seconds for the location module watchdog.
	  The timeout given in this option covers both:
	    * Waiting for an incoming message in zbus_sub_wait_msg().
	    * Time spent processing the message, defined by
	      CONFIG_APP_LOCATION_MSG_PROCESSING_TIMEOUT_SECONDS.
	  Ensure that this value exceeds CONFIG_APP_LOCATION_MSG_PROCESSING_TIMEOUT_SECONDS.
	  A small difference between the two can mean more frequent watchdog feeds, which increases
	  power consumption.

config APP_LOCATION_MSG_PROCESSING_TIMEOUT_SECONDS
	int "Maximum message processing time"
	default 60
	help
	  Maximum time allowed for processing a single message in the module's state machine.
	  The value must be smaller than CONFIG_APP_LOCATION_WATCHDOG_TIMEOUT_SECONDS.

config APP_MOCK_LOCATION_SEARCH
	bool "Mock location search"
	default n
	help
	  Enable this option to use mocked location data instead of real GNSS location.
	  This is useful for testing without actual GNSS hardware.

config APP_MOCK_LOCATION_LATITUDE
	string "Mock location latitude"
	default "43.295"
	help
	  The latitude value to use for mocked location data.
	  Enter as a decimal number (e.g., "43.295").

config APP_MOCK_LOCATION_LONGITUDE
	string "Mock location longitude"
	default "5.373"
	help
	  The longitude value to use for mocked location data.
	  Enter as a decimal number (e.g., "5.373").

config APP_MOCK_LOCATION_ACCURACY
	string "Mock location accuracy in meters"
	default "5.0"
	help
	  The accuracy value in meters to use for mocked location data.
	  Enter as a decimal number (e.g., "5.0").


module = APP_LOCATION
module-str = Location
source "subsys/logging/Kconfig.template.log_config"

endif # APP_LOCATION
