#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config SGP4
	bool "SGP4 satellite propagation library"
	help
	  Enable Vallado SGP4 analytical orbit propagation (SGP4.c).

config SGP4_PASS_PREDICT
	bool "SGP4 satellite pass prediction"
	default n
	select SGP4
	select DATE_TIME
	help
	  Enable satellite pass prediction using SGP4 and TLE/SIB32 data.
