#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
menu "App"

config APP_BUFFER_MODE_SAMPLING_INTERVAL_SECONDS
	int "Sampling interval in buffer mode"
	default 150
	help
	  Interval in seconds that determines how often sensor and location data is
	  collected in buffer mode.

config APP_CLOUD_UPDATE_INTERVAL_SECONDS
	int "Cloud update interval"
	default 600
	help
	  Interval in seconds that controls how frequently the application
	  updates cloud, performing cloud-related tasks such as:
		* Polling the device shadow
		* Checking for FOTA updates
		* Transmitting buffered data to the cloud
	  In buffer mode, this option is typically set to a longer interval
	  than CONFIG_APP_BUFFER_MODE_SAMPLING_INTERVAL_SECONDS to reduce
	  power consumption while allowing data aggregation.
	  In passthrough mode, this option controls both data sampling and the
	  cloud update frequency.

config APP_REQUEST_NETWORK_QUALITY
	bool "Request network quality"
	help
	  Request network quality on triggers.

config APP_WATCHDOG_TIMEOUT_SECONDS
	int "Watchdog timeout"
	default 180
	help
	  Timeout in seconds for the main module watchdog.
	  The timeout given in this option covers both:
	    * Waiting for an incoming message in zbus_sub_wait_msg().
	    * Time spent processing the message, defined by
	      CONFIG_APP_MSG_PROCESSING_TIMEOUT_SECONDS.
	  Ensure that this value exceeds CONFIG_APP_MSG_PROCESSING_TIMEOUT_SECONDS.
	  A small difference between the two can mean more frequent watchdog feeds, which increases
	  power consumption.

config APP_MSG_PROCESSING_TIMEOUT_SECONDS
	int "Maximum message processing time"
	default 120
	help
	  Maximum time allowed for processing a single message in the module's state machine.
	  The value must be smaller than CONFIG_APP_WATCHDOG_TIMEOUT_SECONDS.

config APP_NTN_MODE
	bool "Enable NTN mode"
	default false
	help
	  Use Non-Terrestrial Network (NTN) for data transmission.

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"

endmenu
