/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	aliases {
		modem = &modem;
	};
};

&uart30 {
	compatible = "nordic,nrf-uarte";
	current-speed = <115200>;
	hw-flow-control;
	status = "okay";

	modem: modem {
		compatible = "nordic,nrf91-slm";
		status = "okay";
	};
};

/* Memfault RRAM coredump: shrink storage by 4 KiB and add dedicated partition
 * (required when CONFIG_MEMFAULT_COREDUMP_STORAGE_RRAM is selected).
 */
&storage_partition {
	reg = <0x1dc000 DT_SIZE_K(32)>;
};

&cpuapp_rram {
	partitions {
		memfault_coredump_partition: partition@1e4000 {
			label = "memfault_coredump_partition";
			reg = <0x1e4000 DT_SIZE_K(4)>;
		};
	};
};
