/*
 * Copyright (c) 2025 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

#include "../dts/nrf9151dk_prelude.dtsi"
#include "../dts/att_flash_partitions.dtsi"
#include "../dts/att_sram_partitions.dtsi"

/ {
	chosen {
		nordic,modem-trace-uart = &uart1;
	};
};

&uart1 {
	status = "okay";
	current-speed = <1000000>;
};
