/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 *
 * Flash layout (flash0, 1 MiB internal):
 *   0x00000000  b0_partition                  ( 32 KiB)  immutable bootloader
 *   0x00008000  s0_partition                  ( 80 KiB)  primary MCUboot
 *   0x0001c000  s1_partition                  ( 80 KiB)  secondary MCUboot
 *   0x00030000  slot0_partition (image-0)     (832 KiB)
 *     0x00000000  slot0_s_partition           ( 32 KiB)
 *     0x00008000  slot0_ns_partition          (800 KiB)
 *
 * Flash layout (flash_ext, 32 MiB external):
 *   0x00000000  slot1_partition (image-1)     (832 KiB)  matches slot0 for MCUboot swap-move
 *     0x00000000  slot1_s_partition           ( 32 KiB)
 *     0x00008000  slot1_ns_partition          (800 KiB)
 *   0x000d0000  fmfu_storage_partition        (  4 MiB)
 *   0x004d0000  settings_storage              (  8 KiB)
 *   0x004d2000  littlefs_storage              (  1 MiB)
 *   0x005d2000  external_flash_partition      (~26.2 MiB) free space
 *
 * NOTE: slot0/slot1 are sized 0xD0000 (832 KiB) to match the v1.0.2 PM
 * layout. This is required so that MCUboot in older app images can locate
 * its trailer at the same offset (end of slot1) and properly validate
 * FOTA-installed firmware via boot_is_img_confirmed() /
 * boot_write_img_confirmed(). Changing these sizes will break FOTA
 * validation when downgrading/upgrading to/from such legacy images and
 * cause nRF Cloud to report jobs as
 * "FOTA update completed without validation".
 *
 * Because slot0 fills the entire 1 MiB of internal flash, there is no room
 * for a Memfault coredump partition in internal flash. Coredumps are
 * therefore RAM-backed (non-persistent across reboots) - see prj.conf:
 * CONFIG_MEMFAULT_NCS_INTERNAL_FLASH_BACKED_COREDUMP=n. The external
 * SPI-NOR cannot host the coredump partition because the NCS Memfault
 * storage driver assumes memory-mapped (internal) flash.
 */

/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &storage_partition;

/ {
	chosen {
		zephyr,settings-partition = &settings_storage;
		nordic,fmfu-storage-partition = &fmfu_storage_partition;
	};

	fstab {
		compatible = "zephyr,fstab";
		lfs1: lfs1 {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/att_storage";
			partition = <&littlefs_storage>;
			automount;
			read-size = <16>;
			prog-size = <16>;
			cache-size = <64>;
			lookahead-size = <32>;
			block-cycles = <512>;
		};
	};
};

&flash0 {
	partitions {
		slot0_partition: partition@30000 {
			compatible = "zephyr,mapped-partition";
			label = "image-0";
			reg = <0x00030000 0xd0000>;
			ranges = <0x0 0x00030000 0xd0000>;
			#address-cells = <1>;
			#size-cells = <1>;

			slot0_s_partition: partition@0 {
				compatible = "zephyr,mapped-partition";
				label = "image-0-secure";
				reg = <0x00000000 0x8000>;
			};

			slot0_ns_partition: partition@8000 {
				compatible = "zephyr,mapped-partition";
				label = "image-0-nonsecure";
				reg = <0x00008000 0xc8000>;
			};
		};
	};
};

&flash_ext {
	status = "okay";

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		slot1_partition: partition@0 {
			compatible = "fixed-subpartitions";
			label = "image-1";
			reg = <0x00000000 0xd0000>;
			ranges = <0x0 0x00000 0xd0000>;
			#address-cells = <1>;
			#size-cells = <1>;

			slot1_s_partition: partition@0 {
				label = "image-1-secure";
				reg = <0x00000000 0x8000>;
			};

			slot1_ns_partition: partition@8000 {
				label = "image-1-nonsecure";
				reg = <0x00008000 0xc8000>;
			};
		};

		fmfu_storage_partition: partition@d0000 {
			label = "fmfu_storage";
			reg = <0x000d0000 0x00400000>;
		};

		settings_storage: partition@4d0000 {
			label = "settings_storage";
			reg = <0x004d0000 0x00002000>;
		};

		littlefs_storage: partition@4d2000 {
			label = "littlefs_storage";
			reg = <0x004d2000 0x00100000>;
		};

		external_flash_partition: partition@5d2000 {
			label = "external_flash";
			reg = <0x005d2000 0x01a2e000>;
		};
	};
};
