#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Button"

config APP_BUTTON_SHELL
	bool "Button module shell"
	default y if SHELL
	help
	  Enable shell for the button module.

module = APP_BUTTON
module-str = Button
source "subsys/logging/Kconfig.template.log_config"

endmenu # Button
