name: AI Code Reviewer

on:
  pull_request:
    types: [labeled]

permissions: write-all

jobs:
  code_review:
    runs-on: ubuntu-latest
    if: github.event.label.name == 'ai-review'
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: AI Code Reviewer
        uses: DematteisGiacomo/ai-codereviewer@firmware_finetune
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          # # Claude
          # AI_PROVIDER: "anthropic"
          # AI_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
          # AI_MODEL: "claude-3-5-sonnet-20241022"
          # AI_TEMPERATURE: 0.1

          # Openai
          AI_PROVIDER: "openai"
          AI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          AI_MODEL: "o1"

          # Optional configurations
          APPROVE_REVIEWS: true
          MAX_COMMENTS: 10
          PROJECT_CONTEXT: "This is a real-time configurable ultra-low \
                            power capable asset tracking application firmware for the nRF91 Series" # Project context for better reviews
          CONTEXT_FILES: "README.md" # Files to include in review (comma-separated)
          EXCLUDE_PATTERNS: "**/*.lock,**/*.json,**/*.md" # Files to exclude (glob patterns, comma-separated)
