# Workflow that attaches additional assets to github release.
name: Attach Release Assets

permissions:
  contents: write
  actions: write

on:
  release:
    types: [created]

jobs:
  build:
    uses: ./.github/workflows/build.yml
    permissions:
      contents: write
      pull-requests: write
    secrets: inherit
    with:
      memfault_fw_type: "att"

  attach-assets:
    runs-on: ubuntu-24.04
    needs: [build]
    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Download artifact
          uses: actions/download-artifact@v4
          with:
           pattern: firmware-*
           merge-multiple: true

        - name: Deploy release to github
          uses: softprops/action-gh-release@v2
          with:
            fail_on_unmatched_files: true
            files: |
              asset-tracker-template-*.*
              pmr-*-nrf91-*.txt

        - name: Trigger workflow that publishes symbol files to Memfault
          working-directory: .github/workflows
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          run: |
            gh workflow run publish-symbol-files-to-memfault.yml \
              -F version=${{ github.event.release.tag_name }}
