name: Nrf-sdk Update, Build and Test

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      nrfsdk_sha_update: true
      build_all: true
  test:
    permissions:
      actions: read
      contents: write
      packages: read
    uses: ./.github/workflows/target-test.yml
    needs: build
    secrets: inherit
    with:
      artifact_fw_version: ${{ needs.build.outputs.version }}
      artifact_run_id: ${{ needs.build.outputs.run_id }}
  update-pr-state:
    needs: [build, test]
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
      packages: read
      pull-requests: write
    steps:
      - name: Update PR state
        uses: peter-evans/create-or-update-comment@v4
        with:
          issue-number: ${{ needs.build.outputs.ncsupdate_pr }}
          body: |
            Tests PASSED on latest ncs SHA :white_check_mark:
